[user]
  name = tng@godaddy.com
  email = tng@godaddy.com
[core]
  autocrlf = false
  editor = vim
  excludesfile = ~/.config/git/gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  co = checkout
  cob = checkout -b
  cm = commit -m
  bv = branch -vv

[url "ssh://git@github.securesever.net/"]
	insteadOf = https://github.secureserver.net/
